body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #151d3b;
}

.bg-foto {
  background-image: url("https://cdn.pixabay.com/photo/2016/04/13/07/28/cherry-blossom-1326168_1280.jpg");
  height: 100%;
}
